<app-home-nav></app-home-nav>
<div class="forgot-password-container">
  <div class="forgot-password-content">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()">
      <input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        placeholder="Enter your email" 
        required
      >
      <button type="submit">Send Reset Code</button>
    </form>
    
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
  </div>
</div>