<!-- login.component.html -->
<div class="container">
  <div class="login-card">
    <h2 class="login-title">Bienvenue chez vous :)
    </h2>
    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          placeholder="Your email" 
          required
          class="form-input"
        >
      </div>
      <div class="form-group">
        <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          placeholder="Password" 
          required
          class="form-input"
        >
      </div>
      <br>
      <button type="submit" class="login-button">Sign In</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>