<app-profile-nav></app-profile-nav>

<div class="changepass-content">
 
    <h2>Change Password</h2>
    <form (ngSubmit)="onSubmit()">
      <input type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Old Password" required>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" required>
      <button type="submit">Change Password</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
  </div>

  <!-- Add admin-specific content here -->
  </div>