<app-home-nav></app-home-nav>
<div class="container">
    <h4>Check your mails box for a reset code and complete the following process :] </h4>
    <form (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
      <input type="text" [(ngModel)]="code" name="code" placeholder="Reset Code" required>
      <input type="password" [(ngModel)]="newPassword" name="password" placeholder="New Password" required>
      <button type="submit">Reset Password</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>